<app-resume-page-row [assignRow]="1"></app-resume-page-row>
<!--this needs to pass in magenta, yes on picture, person stuff -->
<app-resume-page-row [assignRow]="2"></app-resume-page-row>
<!--this needs to pass in light blue, ventera stuff  -->
<app-resume-page-row [assignRow]="3"></app-resume-page-row>
<!--this needs to pass in maroon, VT stuff -->
<app-resume-page-row [assignRow]="4"></app-resume-page-row>
<!--this needs to pass in maroon, projects stuff -->
<div class="row">
    <div class="col-md-4 ">
        <app-resume-page-title [assignRow]="5"></app-resume-page-title>
    </div>
    <div class="col-md-8 ">
        <app-languages-list></app-languages-list>
    </div>
</div>
<!--this needs to pass in maroon, languages stuff -->