<div style="padding-top: 3%; padding-left: 25%;">
    <h1 *ngIf="firstRow" style="padding-top: 10%;">{{description}}</h1>
    <div *ngIf="row==4">
        <ul>
            <li>Made this freakin site! NOW</li>
            <li>Magic Mirror SOPHOMORE YEAR</li>
            <li>3D Printing NOW</li>
            <li>iOS Applications SENIOR YEAR</li>
            <li>Unity Platformer Game JUNIOR YEAR?</li>
            <li>Android Studio Apps JUNIOR YEAR</li>
        </ul>
    </div>
    <div *ngIf="row==2">
        <ul>
            <li>Maintaining Food & Nutrition Services Quality Control Application</li>
            <li>Fixed Code Smells for STARS WebSite</li>
            <li>Developed personal assistant CALVIN as Ventera Intern</li>
        </ul>
    </div>
    <div *ngIf="row==3">
        <ul>
            <li>Graduated in 2019 with a degree in Computer Science</li>
        </ul>
    </div>
</div>