.first {
  background-color: darkgray;
}

.second {
  background-color: white;
}

.third {
  background-color: darkgray;
}

.fourth {
  background-color: white;
}

.fifth {
  background-color: darkgray;
}
