<div>
    <div class="row">
        <div class="col-md-12 page" style="padding-top: 1%;">
            <div class="page-header">
                <h1>Conner's Live Events to view....creep</h1>
            </div>
            <!-- <div style="display:inline-block;width:100%;overflow-y:auto;"> -->
            <div style="display:inline-block;width:100%; padding-top: 3%;">
                <ul class="timeline timeline-horizontal">
                    <li class="timeline-item">
                        <div class="timeline-badge primary"><i class="fa fa-birthday-cake glyphicon-user"></i></div>
                        <div class="timeline-panel profilePic">
                            <div class="timeline-heading">
                                <h4 id="born" class="timeline-title" (mouseover)="eventhandler($event)"
                                    (mouseout)="handleLeave($event)">Born</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i><i
                                            class="far fa-calendar-alt"></i> March 11,
                                        1997</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Born in Rochester New York</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge warning"><i class="fa fa-umbrella-beach"></i></div>
                        <div class="timeline-panel profilePic">
                            <div class="timeline-heading">
                                <h4 class="timeline-title" (mouseover)="eventhandler($event)"
                                    (mouseout)="handleLeave($event)" id="moved">Moved to Florida</h4>
                                <p><small class="text-muted"><i class="far fa-calendar-alt"></i> January
                                        2000</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Moved to Florida at the age of 3</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge danger"><i class="fa fa-hockey-puck"></i></div>
                        <div class="timeline-panel profilePic">
                            <div class="timeline-heading">
                                <h4 id="joinedHockey" class="timeline-title" (mouseover)="eventhandler($event)"
                                    (mouseout)="handleLeave($event)">Joined first Hockey Team</h4>
                                <p><small class="text-muted"><i class="far fa-calendar-alt"></i> 2009</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Joined first hockey team playing at TBSA's In-House hockey league</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge info"><i class="fa fa-school"></i></div>
                        <div class="timeline-panel profilePic">
                            <div class="timeline-heading">
                                <h4 id="eastLake" class="timeline-title" (mouseover)="eventhandler($event)"
                                    (mouseout)="handleLeave($event)">East Lake High School</h4>
                                <p><small class="text-muted"><i class="far fa-calendar-alt"></i> August 2011</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Became an eagle in the engineering academy while playing for the hockey team at East
                                    Lake High School</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge light"><i class="fa fa-university"></i></div>
                        <div class="timeline-panel profilePic">
                            <div class="timeline-heading">
                                <h4 id="virginiaTech" class="timeline-title" (mouseover)="eventhandler($event)"
                                    (mouseout)="handleLeave($event)">Attendeds Virginia Tech</h4>
                                <p><small class="text-muted"><i class="far fa-calendar-alt"></i> August
                                        2015</small></p>
                            </div>
                            <div class="timeline-body">
                                <p>Became a Hokie attending Virginia Tech in the Galileo program intending to become an
                                    Aerospace Engineer </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i></div>
                        <div class="timeline-panel profilePic">
                            <div class="timeline-heading">
                                <h4 id="graduates" class="timeline-title" (mouseover)="eventhandler($event)"
                                    (mouseout)="handleLeave($event)">Graduates Virginia Tech</h4>
                                <p><small class="text-muted"><i class="far fa-calendar-alt"></i> May 2019</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Graduates Virginia Tech with a BS in Computer Science</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-badge primary"><i class="fa fa-laptop-code"></i></div>
                        <div class="timeline-panel profilePic">
                            <div class="timeline-heading">
                                <h4 id="ventera" class="timeline-title" (mouseover)="eventhandler($event)"
                                    (mouseout)="handleLeave($event)">Ventera Bulldogs</h4>
                                <p><small class="text-muted"><i class="far fa-calendar-alt"></i> August 2019</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Started working for Ventera as a technical consultant contracted for the Food and
                                    Nutrition Services</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="showMovedEvent">
            <img src={{photoPath}} [ngStyle]="{'margin-left.%': photoStyle}" class="profilePic">
        </div>
    </div>