<div class="row" style="padding-top: 2%;">
    <div class="col-md-6" style="text-align: center; padding-top: 5%;">
        <h1>Conner Caprio</h1>
        <h3>Software Developer</h3>
    </div>
    <div class="col-md-6">
        <img src="assets/img/resume_photo.jpg" class="profilePic">
    </div>
</div>
<div class="row" style="margin-left: 4%; margin-top: 5%;">
    <div class="col-md-5">
        <h4>What you can find on this site:</h4>
        <p> A bunch of info about a dude who was bored during the COVID-19 quarantine and likes to get paid</p>
    </div>
</div>
<div class="col-md-12">
    <div class="row" style="position: fixed; bottom: 0; margin-left: 30%; ">
        <p>Powered By:</p>
        <img src="assets/img/poweredByLogos.png" style="height: 100px; width: auto;">
    </div>
</div>